*{
    /* font-family: "Montserrat", sans-serif; */
    
    /* box-sizing: border-box; */
}
 body{
    margin: 0px;
    padding: 0px;
 }

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 44, 44);
    padding: 10px 30px;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
}

.nav-links a{
    margin: 0px 10px;
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: rgb(246, 85, 117);
}

.hero{
    margin: auto;
    text-align: center;
    /* background-color: rgb(220, 86, 112); */
    /* background-color: rgb(226, 72, 103); */
    padding: 60px 0px 20px;
    margin-bottom: 20px;
    height: 35vh;
    background-image: url("./Media/colorful-shopping-bags.jpg");
    background-position: 0% 90%;
    background-size:cover;
}

.hero h1{
    margin-top: 0px;
    font-size: 3em;
}

.hero p:first-of-type{
    font-size: 17px;
    word-spacing: 2px;
    letter-spacing: 0.8px;
}

.hero p:first-of-type, .hero h1{
    animation: pop-up 1s ease forwards;
}

.hero button{
    background-color:rgb(56, 56, 56);
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px rgb(81, 78, 78);
    border-radius: 5px;
    font-size: 14px;
    color: whitesmoke;
    padding: 10px 14px;
    margin: 22px 0 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(220, 86, 112);
}

#special-offer small{
    font-size: 13.1px;
    letter-spacing: 0.2px;
    background-color:rgb(56, 56, 56);
    color: whitesmoke;
    padding: 2px 5px;
    border-radius: 5px;
    animation: blink 0.8s ease infinite;
}

@keyframes pop-up {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes blink {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.categories, .featured-products, .testimonials, .product-features{
    padding: 10px;
    text-align: center;
    margin-top: 1.2em;
}

.testimonials{
    margin-top: 2.4em;
    background-color: rgb(45, 44, 44);
    color: whitesmoke;
    padding: 30px 0px 60px;
}

.categories h2, .featured-products h2, .product-features h2{
    margin-bottom: 1em;
    font-size: 2em;
}

.testimonials h2{
    margin-bottom: 1em;
    font-size: 1.6em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    gap: 1.6em;
}

.featured-products .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1.6em;
}

.category, .product, .testimonial{
    border-radius: 8px;
    box-shadow: 0px 4px 8px lightgray;
    padding: 10px;
    border-radius: 8px ;
}

.category, .product{
    transition: transform 0.6s ease;
}

.category:hover, .product:hover {
    transform: scale(1.1);
}

.category img, .product img{
    animation: move-up 1s ease-in forwards;
}

@keyframes move-up {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(1);
    }
}

.product img{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 270px;
}

.category img, .testimonial img{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: auto;
}

.product h3{
    margin-bottom: 10px;
}

.product p{
    margin: 10px 0;
}

.category, .product, .testimonial{
    border-radius: 8px;
    box-shadow: 0px 4px 8px lightgray;
    padding: 10px;
    border-radius: 8px ;
}

.product p{
    color: rgb(205, 96, 118);
}

table{
    border-collapse:collapse;
    margin: 2em auto;
    border: 2px solid rgb(209, 98, 120);
    width: 85%;
}

thead tr{
    background-color: rgb(209, 98, 120);
    color: whitesmoke;
    font-size: 1.1em;
}

table th, table td{
    padding: 10px;
    border: 1px solid lightgrey;
}

.testimonial{
    box-shadow: 0px 0px 4px rgb(99, 98, 98);
    background-color: rgb(61, 60, 60);
}

.testimonial h4{
    color: rgb(203, 88, 111);
    /* color: rgb(220, 86, 112); */
}

footer{
    background-color: rgb(45, 44, 44);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

footer p{
    margin: 0px ;
}

@media screen and (max-width:910px) {  
  .featured-products .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .navbar{
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:520px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-products .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    #testimonial-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:580px) {
    .navbar{
        flex-direction: column;
    }
}



/* signIn-SignUp Form Styling */

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.form-container{
    width: 100%;
    max-width: 320px;
    padding: 30px 24px;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 5px;
    background-color: white;
}

.signIn-Up-label{
    display: inline-block;
    color: rgb(9, 9, 159);
    font-size: 1.04em;
    padding: 15px 30px;
    margin: 6px 8px 0 4px;
    border: 1px solid rgb(220, 86, 112);
    border-radius: 5px;
    color: rgb(224, 73, 103);
}

.form{
    display: none;
    margin-top: 1.8rem;
}

#signIn:checked ~ .signin-form{
    display: block;
}
#signUp:checked ~ .signup-form{
    display: block;
}

.form p{
    margin-top: 2.4em;
}

.form p label{
    padding: 15px 24px;
    margin: 0 8px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1em;
}

form input{
    box-sizing: border-box;
    padding: 16px 14px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
}

form input::placeholder{
    font-size: 1.2em;
}

form .submit-btn{
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.04em;
    background-color: white;
    background-color: rgb(220, 86, 112);
    color: whitesmoke;
    cursor: pointer;
}

form .submit-btn:hover{
    background-color: rgb(207, 67, 95);
    color: whitesmoke;
}

/* Products Page Styling */
.product-container h1{
margin: 0.5em;
text-align: center;
}

.searchBar{
    width: 82vw;
    margin: 2.5em auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.searchBar input, .searchBar select{
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    border: 1px solid rgb(195, 195, 195);
}

.searchBar option{
    color: whitesmoke;
    background-color: rgb(56, 62, 62);
}

#product-list{
    width: 82vw;
    margin: 2.5em auto;
}

.card{
    transition: transform 0.6s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* cart page styling */
.cart-container h1{
    font-weight: bolder;
    text-align: center;
    margin: 2rem 0
}

.cart-info{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 10px;
    margin: 0 10px 0 30px ;
}

#cart-items-container{
    margin: 0 auto;
}

#cart-items-container .card{
    padding: 5px 5px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.cart-summary{
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    position:sticky;
    top: 40px;
    z-index: 10;
    border-left: 1px solid lightgrey;
}

#cart-total{
    font-size: 1.1em;
    font-weight: 600;
}






